services:

  cassandra:
    image: cassandra
    container_name: cassandra
    deploy:
      resources:
        limits:
          memory: 2G
    ports:
      - 1568:9042
    volumes:
      - C:\Users\OGÜN\Desktop\SpringBootMicroservicesHaydiKodlayalim\docker-volumes\cassandra-volume:/var/lib/cassandra

  mysql:
    image: mysql
    container_name: mysql
    deploy:
      resources:
        limits:
          memory: 500M
    ports:
      - 52796:3306
    volumes:
      - C:\Users\OGÜN\Desktop\SpringBootMicroservicesHaydiKodlayalim\docker-volumes\mysql-volume:/var/lib/mysql
    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysql

  elasticsearch:
    image: elasticsearch:7.17.5
    container_name: elasticsearch
    deploy:
      resources:
        limits:
          memory: 300M
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      ELASTIC_PASSWORD: elastic
      ELASTIC_USERNAME: elastic
      discovery.type: single-node
    volumes:
      - C:\Users\OGÜN\Desktop\SpringBootMicroservicesHaydiKodlayalim\docker-volumes\elasticsearch-volume:/usr/share/elasticsearch/data

  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: rabbitMQ
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: ersun
      RABBITMQ_DEFAULT_PASS: ersun
    volumes:
      - C:\Users\OGÜN\Desktop\SpringBootMicroservicesHaydiKodlayalim\docker-volumes\rabbitmq-volume:/var/lib/rabbitmq

  zipkin:
    image: openzipkin/zipkin
    container_name: Zipkin
    ports:
      - 9411:9411
