spring:
  application:
    name: account-service

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server-application
      fail-fast: true
      retry:
        initial-interval: 1000
        max-attempts: 50

  config:
    import: configserver:config-server-application

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:9999}/eureka