spring:
  application:
    name: eureka-server

  config:
    import: ${CONFIG_SERVER_URL:optional:configserver:http://localhost:8888}

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
