server:
  port: 8888

spring:
  application:
    name: config-server-application

  boot:
    admin:
      client:
        url: ${SPRING_BOOT_ADMIN_SERVER_URL:http://localhost:11111}

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/microservice

  profiles:
    active: native

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:9999}/eureka